* {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}
body {
  font-family: "Open Sans", sans-serif;
 
}
header {
  position: relative;

  z-index: 2;
}
p {
  font-size: 25px;
}
h1 {
  text-align: left;
  letter-spacing: 0px;
  color: #deb37e;
  text-shadow: 3px -4.29px 5px #54524f38;
  opacity: 1;
  font-size: 96px;
  line-height: 110px;
  font-weight: 900;
}
h2 {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #e2a355;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 650;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
  width: 60%;
}
.shape {
  width: 100%;
  z-index: 1;

  margin-top: -217px;
}
.logo {
  width: 5%;
  margin-top: 50px;
  margin-left: 4.5%;
}
li {
  display: inline;
}
ul {
  list-style-type: none;
}
.nav-items {
  display: flex;

  margin: 58.2px 3%;
  float: right;
  justify-content: space-evenly;
}

#search {
  background: #7f7770;
  width: 183px;
  height: 51px;

  border-radius: 30px;
  border: 0px;
  opacity: 0.47;
}
.searchIcon {
  position: absolute;
  margin: 8px -58px;
  color: #4d4b49;
}
.nav-items li a {
  text-align: left;
  letter-spacing: 3.33px;
  color: #54524f;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin: 0 35px;
}
.topnav .icon {
  display: none;
}

.main-content {
  background-image: url("images/header.png");
  background-image: linear-gradient(
      rgba(52, 52, 52, 0.2),
      rgba(52, 52, 52, 0.1)
    ),
    url("images/header.png");
  background-position: 50% 50%;

  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  width: 100%;
}
.header-text {
  width: 50%;
  margin-left: 6%;
  margin-top: 436px;
}
.sec-heading {
  position: absolute;
  margin: 50px 0px 50px 6%;
  text-align: left;

  color: #54524f;
  opacity: 1;
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 650;
  font-style: italic;
}
button {
  border: none;
}
.btn {
  background-color: #fff;
  width: 15%;
  padding: 15px;
  font-weight: 750;
  font-size: 30px;
  margin-left: 6%;
  margin-top: 127px;
  color: #54524f;
  border-radius: 30px;
}
.main-para {
  margin: 45px 0px 14% 6%;
  color: #54524f;
  font-size: 20px;

  width: 20%;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
}
.second {
  margin-top: -90px;
}
.go-container {
  padding: 10px 0px;
  margin: -40px 6% 0px 6%;
}
.go-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6%;
}
.go {
  background: rgb(127, 119, 112);
}
.sub-text {
  margin: 40px auto 90px auto;
  width: 50%;
  line-height: 32.5px;
  text-align: center;
  color: #7f7770;
  opacity: 1;
}
.goPic {
  width: 100%;
}
.goText {
  font-size: 30px;
  font-weight: 700;

  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  margin: 0px 8px;
}
.goPara {
  font-size: 23px;
  margin: 20px 8px 40px 8px;
  color: #ffffff;
}
.pic-wrap {
  max-height: 440px;
  overflow: hidden;
  margin-bottom: 50px;
}

.btnGo,
.btnDisc,
.btnProm {
  width: 28%;
  padding: 30px;
  margin: 50px 37%;
  background: #7f7770;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 4.6px;
}
.leaf1 {
  margin: -380px 0px 0px -50px;
  width: 80%;
}
.discount-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.disc {
}
#discountPic {
  width: 100%;
  height: auto;
}
#discountCode {
  background: #7f7770;
}
.disc-heading {
  margin: 350px 20px 40px 10%;
}
.discPara,
.promPara {
  margin: 50px 20px 20px 10%;
  width: 60%;
  color: white;
  line-height: 35px;
}
.btnDisc,
.btnProm {
  margin: 0px 20px 80px 10%;
  background: #e2a355;
  width: 35%;
  padding: 20px;
}
#promoCode {
  background: #deb37e;
}
.prom-heading {
  float: right;
  margin: 350px 10% 20px 10%;
}
.promPara {
  float: right;
  margin: 50px 10% 20px 10%;
}
.btnProm {
  float: right;
  margin: 0px 35% 110px 10%;
}
#discountPic {
  background: url("images/go23.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#promopic {
  background: url("images/prom.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.third {
  margin: -10px 0px 0px 0px;
}
.hike-container {
  background: #7f7770;
  padding: 50px;
  margin: -111px 0px 0px 0px;
}
.hike-heading {
  width: 100%;
  margin: 300px auto 0px auto;
  text-align: center;
  font-weight: 600;
}
.hike-para {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: center;
  font-size: 30px;
  color: #dbdbdb;
}
.five {
  margin: -65px 0px 0px 0px;
}
.explore-container {
  background: url("images/mountain.png");
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  margin: -58px 0px 0px 0px;
  padding: 10% 0px;
}
.explore-heading,
.world-heading {
  font-size: 84px;
  line-height: 100px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0px;
  text-shadow: 2.58px -4.29px 5px #54524f5c;
  opacity: 1;
  text-align: right;
  text-transform: uppercase;
  color: #deb37e;
}
.world-heading {
  color: #54524f;
}
.explore-container h2 {
  margin-right: 5%;
}
.explore-heading {
  margin-top: 250px;
}
.world-heading {
  margin-bottom: 210px;
}
.six {
  margin-top: -78px;
}
.testimonials {
  margin-top: -100px;
}
.test-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

  margin: 0px 6%;
  grid-gap: 1.5%;
}
h4 {
  text-align: left;
  letter-spacing: 0px;
  color: #deb37e;
  opacity: 1;
  font-size: 33.33px;
  font-weight: 700;
}
.test {
  padding: 0px 5% 10px 5%;
}
.test-para {
  font-size: 18px;
  color: #333d42;
  margin: 15px 0px;
}
.test4 {
  grid-column: 1/4;
  grid-row: 2;
  margin-top: 200px;
}
.quotation {
  text-align: center;
  font-size: 100px;

  font-weight: 800;
  font-style: italic;
}
#quotation-para,
#author {
  font-size: 25px;
  color: #3f3f3f;
  font-weight: 550;
  width: 60%;
  margin: 0px auto;
}
#author {
  text-align: center;
  width: 50%;
  margin: 20px auto 60px auto;
}
.sub {
  margin-top: -110px;

  background: #deb37e;
  padding: 100px 0px;
}
.seven {
  margin-top: -40px;
}
.leaf4 {
  position: relative;
  float: right;
  margin: -500px 0px 0px 0px;
}
.sub-content {
  width: 100%;
  margin: 250px auto 0px auto;
}
.sub-heading {
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  margin: 10px auto 10px auto;
  width: 90%;
}
.sub-para {
  width: 45%;
  margin: 50px auto 80px auto;
  font-weight: 600;
  color: #54524f;
}
#email,
.subscribe {
  width: 40%;
  padding: 20px;
  border-radius: 35px;
  border: none;
  margin: 0px 27%;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  color: #54524f;
}
#btn-subscribe {
  position: relative;
  width: 15%;
  top: -69px;
  background: #54524f;
  text-transform: capital;
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: 0px 0px 50px 59%;
}
footer {
  margin-top: -53px;
 
  background: #7f7770;
  padding: 250px 0px 150px 0px;
}
.foot-wrapper {
  margin: 0px 7% 0px 7%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2%;
}
.eight {
  margin-top: -70px;
}
.foot {
  color: white;
  font-weight: 400;
}
.title {
  grid-column: 1/4;
}
.footer-title {
  font-size: 31.6px;
  margin: 10px 0px;
}
.footer-para {
  width: 50%;
  font-size: 22px;
  line-height: 28px;
  margin: 15px 0px 40px 0px;
}
.social-wrapper {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8%;
}
.socialBtn {
  border-radius: 50%;
  padding: 18%;
}
button a {
  color: #707070;
}
footer li a {
  display: block;
  text-transform: capitalize;
  font-size: 23.7px;
  line-height: 41.76px;
  color: white;
  text-decoration: none;
}
footer a:hover,
header a:hover {
  color: #e2a355;
}
@media only screen and (max-width: 1700px) {
  .subscribe {
    width: 15%;
  }
  .btn {
    letter-spacing: 2.6px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 1500px) {
  .social-wrapper {
    width: 37%;
  }
}
@media only screen and (max-width: 1300px) {
  .social-wrapper {
    width: 41%;
  }

  .btn {
    letter-spacing: 0.6px;
    font-size: 20px;
  }
  .btn1 {
    width: 20%;
  }
  #btn-subscribe {
    width: 20%;
  }
}
@media only screen and (max-width: 1180px) {
  .social-wrapper {
    width: 53%;
  }
  .sec-heading {
    font-size: 21px;
  }

  h3 {
    width: 80%;
  }
  .discPara,
  .promPara {
    width: 80%;
  }
  .btnProm {
    float: left;
    margin: 0px 35% 110px 10%;
  }
  .btnDisc,
  .btnProm {
    width: 40%;
  }
  .logo {
    width: 11%;
  }
}
@media only screen and (max-width: 1100px) {
  .nav-items li a {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .nav-items li a {
    margin: 0 8px;
  }

  h1 {
    font-size: 85px;
  }
  .header-text {
    width: 60%;
  }
  .main-content {
    background-position: 40% 50%;
  }
  .main-para {
    width: 36%;
  }
  .sub-text {
    margin: 40px auto 90px auto;
    width: 70%;
  }

  #goThird {
    display: none;
  }
  .go-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6%;
  }
  .btnDisc,
  .btnProm {
    width: 51%;
  }
  .hike-para {
    width: 80%;
  }
  .explore-heading,
  .world-heading {
    font-size: 69px;
  }

  .test-container {
    margin: 50px 6%;
  }
  .test4 {
    grid-column: 1/4;
    grid-row: 2;
    margin-top: 131px;
  }
  #quotation-para,
  #author {
    font-size: 25px;
    color: #3f3f3f;
    font-weight: 550;
    width: 85%;
  }
  .sub-para {
    width: 78%;
  }
  #email,
  .subscribe {
    width: 60%;

    margin: 0px 14%;
  }
  #btn-subscribe {
    width: 26%;
  }
  .footer-para {
    width: 80%;
  }
  .social-wrapper {
    width: 73%;
  }
  footer li a {
    display: block;
    text-transform: capitalize;
    font-size: 21.7px;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 820px) {
 .topnav a {display: none;}
  .topnav li a.icon {
    position:absolute;
    top: 70px;
    right: 250px;
    float: left;
    display: block;
  }
  .topnav.responsive {
    position: absolute;
  }
  .topnav.responsive a.icon {
    margin: 100px 10px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin: 10px;
    text-align: left;
  }
   .topnav a .item {
    float: right;
   
    width: 10%;
    left: 4%;
    margin-top: 40px ;
  }
 .btnGo{
   width: 40%;
       margin: 50px 27%
 }
 .sub {
    margin-top: -89px;
   
}
}
@media only screen and (max-width: 650px){
  #discountPic,#promopic {
   
    height: 800px;
}
#promopic{
  grid-row: 3;
}
.discount-wrapper {
   grid-template-columns: none;
   
}
.disc-heading ,.prom-heading{
    margin-top: 150px;
}
.btnDisc, .btnProm {
    width: 31%;
}
#btn-subscribe {
    width: 36%;
}
#email{
width: 70%;
    margin: 0px 9%;
}
.social-wrapper {
    width: 121%;
}
.btn1 {
    width: 32%;
}
}
@media only screen and (max-width: 650px){
  .btnGo {
    width: 54%;


}
.btnDisc, .btnProm {
    width: 39%;
}
.sub {
    margin-top: -48px;
}
.hike-para {
    width: 100%;
}
.foot-wrapper {
   
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}
.social-wrapper {
    width: 55%;
}
.services{
  grid-column: 2;
}
.title {
    grid-column: 1/4;
}
.footer-para {
    width: 90%;
}
.footer-para ,footer li a{
  font-size: 18px;
}
.footer-title {
    font-size: 26px;
}
#btn-subscribe {
    width: 41%;
}



}
@media only screen and (max-width: 450px){
  .header-text {
   
    margin-top: 27px;
}
.btn1 {
    width: 36%;
}
.go-wrapper {
    grid-template-columns: repeat(1, 1fr);
}
.btnGo {
    width: 60%;
    margin: 94px 17%;
}
.btnDisc, .btnProm {
    width: 46%;
}
.btn {
    letter-spacing: 0.6px;
    font-size: 16px;
}
h3 {
    font-size: 50px;
}
.explore-container h2 {
    margin-right: 13%;
    width: 100%;
}
#btn-subscribe{
top: 80px;
  margin-left: -300px;
  width: 50%;
  font-size: 20px;
}
footer {
    margin-top: -34px;
}
.social-wrapper {
    width: 64%;
}
.foot-wrapper {
    margin: 0px 5% 0px 5%;

}
.test-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#test3{
  display: none;
}
}
