* {
  margin: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  position: relative;

 
 
  z-index: 2;
}
h1{
  text-align: left;
letter-spacing: 0px;
color: #DEB37E;
text-shadow: 3px -4.29px 5px #54524F38;
opacity: 1;
font-size:96px;
  line-height: 110px;
  font-weight: 900;

}

.first {
  width: 100%;
  z-index: 1;

  margin-top: -217px;
}
.logo {
  width: 5%;
  margin-top: 50px;
  margin-left: 4.5%;
}
li {
  display: inline;
}
ul {
  list-style-type: none;
}
.nav-items {
  display: flex;

  margin: 58.2px 3%;
  float: right;
  justify-content: space-evenly;
}
.home {
  font-size: 20px;
}
#search {
  background: #7f7770;
  width: 183px;
  height: 51px;

  border-radius: 30px;
  border: 0px;
  opacity: 0.47;
}
.searchIcon {
  position: absolute;
  margin: 8px -58px;
  color: #4d4b49;
}
.nav-items li a {
  text-align: left;
  letter-spacing: 3.33px;
  color: #54524f;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  margin: 0 35px;
}

.main-content {


 background-image: url("/images/header.png");
  background-color: #cccccc;
 

background-size: 100%;

  overflow: hidden;
  width: 100%;
 height: 1200px;
  margin: -105px 0px 0px 0px;
}
.header-text{
  width: 40%;
  margin-left: 6%;
  margin-top: 350px;

}

